@charset "UTF-8";

.gray {
    height: 2000px;
    background-color: lightgray;
    margin-top: 500px;
}
.images {
    position: sticky;
    top: 100px;
    float: right;
    width: 400px;
}

.text {
    float: right;
    width: 300px;
    margin-top: 300px;
}

.text2 {
    float: right;
    width: 300px;
    margin-top: 300px;
}

.slide_box img {
    width: 40%;
}