@charset "UTF-8";

ul.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
  }
  ul.list::after {
    content: '';
    display: block;
    clear: both;
  }
  .tab-button {
    display: block;
    padding: 10px 20px 10px 20px;
    float: left;
    margin-right: -1px;
    margin-bottom: -1px;
    color: grey;
    text-decoration: none;
    cursor: pointer;
  }
  .tab-content {
    display: none;
    padding: 10px; 
  }

  .orange {
    border-top: 2px solid orange;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-left: 1px solid #ccc;
    color: black;
    margin-top: -2px;
  }
 
  .show {
    display: block;
  }

  
  /* 레슨 12 */

  /* .card {
    border: 1px solid #aaa;
  } */

  .card_box {
    width: 24.1%;
    height: auto;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    padding-bottom: 15px;
    }
  
  .img_box {
    text-align: center;
    height: 90px;
    background-color: #e3e3e3;
    margin: 0 10px;
    line-height: 90px;
    color: #8f8f8f;
  }
  
  .card_box p {
    margin: 10px;
  }

  .order {
    background-color: red;
    color: #fff;
    border-radius: 5px; 
    width: 72px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    cursor: pointer;
  }

  .order p {
    font-size: 13px;
    font-weight: 900;
  }